record-viewer {
  display: block;
  user-select: none;
  width: 100%;

  input {
    user-select: none;
  }

  h2 {
    font-weight: 400;
    margin: 0 0 20px;
  }

  .super {
    margin: 10px 0;
  }

  .column {
    padding: 25px 0;
  }

  .md-chips {
    box-shadow: none;
  }
}
