div(layout="column")
  div(
    layout="row" layout-align="space-between end"
    ng-if="!state.selected"
  )
    div(layout="column" flex) 
      .super {{ state.record.family }}
      h2 {{ state.record.label }}
    .column(layout="column" flex="30") 
      span(ng-if='state.record.first')
        | {{ state.record.first | date : 'mediumDate' }}
      span(ng-if='state.record.last')
        span="-"
        | {{ state.record.last | date: 'mediumDate' }}
    .column(layout="align-right" flex="15" ng-if="!state.selected")
      span(ng-if="state.record.stories.length")
        md-icon list
      span(ng-if="state.record.photos.length")
        md-icon photo
      span(ng-if="state.record.note")
        md-icon description
      span(ng-if="state.record.videos.length")
        md-icon ondemand_video
  div(ng-if="state.selected")
    form(name="recordEditor")
      div(layout="row" layout-align="space-between end")
        //- this will look bad until they close
        //- https://github.com/angular/material/issues/4233
        //- //md-input-container(flex="20")
        div(flex="20")
          //- //label Start
          md-datepicker(ng-model="state.record.first" md-placeholder="Start Date")
        //- //md-input-container(flex="20")
        div(flex="20")
          //- //label End
          md-datepicker(ng-model="state.record.last" md-placeholder="End Date")
        md-input-container(flex="15")
          label Label
          input(type="text" ng-model="state.record.label" placeholder="Tape Label")
        md-input-container(flex="15")
          label Family
          input(type="text" ng-model="state.record.family" placeholder="Tape Family")
        md-input-container(flex="10")
          label Medium
          md-select(ng-model="state.record.medium")
            md-option(value="1\" Tape") 1" Tape
            md-option(value="3/4\" Tape") 3/4" Tape
            md-option(value="Film") Film
        div(flex)
    div(layout="row" layout-align="space-between start")
      div(layout="column" layout-align="start center")
        div(ng-repeat="video in state.record.videos")
          video(controls)
            source(ng-src="{{ video.url }}" type="video/mp4")
        md-input-container(style = "width: 20em;")
          label Notes
          textarea(ng-model="state.record.notes" placeholder="Notes")
        //- md-input-container
        div
          div(file-input="state.image" on-change="state.loadImage()")
        div(ng-repeat="image in state.record.images" flex)
          img(ng-src="{{ image.url }}")
      div(layout="column" layout-align="space-between start")
        table.mtna-table
          thead
            tr
              th Slug
              th Date
              th Format
              th Runtime
          tbody
            tr(ng-repeat="story in state.record.stories")
              td {{ story.slug }}
              td {{ story.date | date:'fullDate' }} 
              td {{ story.format || "Unknown" }}
              td {{ story.runtime || "Unknown" }}
          tfoot
            tr
              td
                md-input-container
                  label Slug
                  input(ng-model="state.newStory.slug")
              td
                md-datepicker(ng-model="state.newStory.date" md-placeholder="Story date")
              td
                md-input-container
                  label Format
                  input(ng-model="state.newStory.format")
              td
                md-input-container
                  label Runtime 
                  input(ng-model="state.newStory.runtime")
            tr
              td(colspan="5")
              td
                md-button(ng-click="state.addStory(state.newStory)")
                  md-icon add
