record-viewer {
  display: block;
  user-select: none;
  width: 100%;

  input {
    user-select: none;
  }

  h2 {
    font-weight: 400;
    margin: 0;
  }

  .super {
    margin: 10px 0;
  }

  .md-chips {
    box-shadow: none;
  }

  video {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
  }
}
