video {
  padding-right:24px;
  padding-bottom:24px;
}

record-viewer {
  display: block;
  user-select: none;
  width: 100%;

  input {
    user-select: none;
  }

  h2, h3 {
    font-weight: 400;
    margin: 0;
  }

  h3 {
    padding-top: 8px;
  }

  .super {
    margin: 10px 0;
  }

  .md-chips {
    box-shadow: none;
  }

  .recordImage {
    position: relative;

    &:hover {
      .deleteImageWrapper {
        display: block;
      }
    }
    .deleteImageWrapper {
      border-radius: 3px 0 0 0;
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 1);

      .md-button {
        margin: 0;
      }
    }

  }

  video {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
  }

  table {
    tr {
      td, th {
        &:last-child {
          width: 36px;

          .md-button {
            margin: 0;
            min-width: 24px;
          }
        }
      }
    }
  }
}

sup {
  text-transform: uppercase;
  font-weight: bold;
  color:gray;
}
