div(layout="column")
  div(
    layout="row" layout-align="space-between end"
    ng-if="!state.selected"
  )
    div(layout="column" flex)
      p.label {{ state.record.label }}
    div(layout="column" flex)
      p(ng-if='state.record.first')
        | {{ state.record.first | date : 'mediumDate' }}
    div(layout="column" flex)
      p(ng-if='state.record.last')
        | {{ state.record.last | date: 'mediumDate' }}
    .column(layout="row" flex ng-if="!state.selected")
      p
        span
          md-icon(ng-if="state.record.stories.length") list
          md-icon(ng-if="!state.record.stories.length") remove
        span
          md-icon(ng-if="state.record.images.length") photo
          md-icon(ng-if="!state.record.images.length") remove
        span
          md-icon(ng-if="state.record.notes") insert_comment
          md-icon(ng-if="!state.record.notes.length") remove
        span
          md-icon(ng-if="state.record.videos.length") ondemand_video
          md-icon(ng-if="!state.record.videos.length") remove
  div(ng-if="state.selected")
    form(name="recordEditor")
      div(layout="row" layout-xs="column" layout-align="space-between end" ng-if="state.editing")
        md-input-container(flex="15")
          label Label
          input(type="text" ng-model="state.record.label" placeholder="Tape Label")
        md-input-container(flex="15")
          label Family
          input(type="text" ng-model="state.record.family" placeholder="Tape Family")
        md-input-container(flex="10")
          label Medium
          md-select(ng-model="state.record.medium")
            md-option(value="1\" Tape") 1" Tape
            md-option(value="3/4\" Tape") 3/4" Tape
            md-option(value="Film") Film
        md-input-container(flex="20")
          label Start Date
          input(type="date" ng-model="state.record.first")
        md-input-container(flex="20")
          label End
          input(type="date" ng-model="state.record.last")
        div(flex)
        md-input-container
          md-button(ng-click="state.done()") Done
      div(layout="row" layout-xs="column" layout-align="space-between start" ng-if="!state.editing")
        div(flex="30")
          sup.md-subheader
            | {{ state.record.family }}
          h2
            | {{ state.record.label }}
        h3(flex="20" hide-gt-xs show-xs) {{ state.record.first | date:'shortDate' }}
        h3(flex="20" hide-gt-xs show-xs) {{ state.record.last | date: 'shortDate' }}
        h3(flex="15" hide-xs) {{ state.record.first | date:'mediumDate' }}
        h3(flex="15" hide-xs) {{ state.record.last | date:'mediumDate' }}
        h3(flex="10") {{ state.record.medium }}
        div(flex)
        md-input-container
          md-button(ng-click="state.editing = true") Edit
          associate(record-id="{{state.record.id}}" on-update-record="state.updateRecord({updatedRecordData: updatedRecordData})")
          file-input(model="state.image" on-change="state.loadImage()")
    div(layout="row" layout-md="column" layout-sm="column" layout-xs="column")
      div(flex-gt-md=25 layout="column" layout-md="row" layout-sm="row")
        div(flex-md=50 ng-repeat="video in state.record.videos")
          video(controls)
            source(ng-src="{{ state.safeVideoUrl(video) }}" type="video/mp4")
            | Can't play video: {{ video | json }}
        //- md-input-container
        div(flex-md=50)
          md-input-container(style = "width: 15em;")
            label Notes
            textarea(ng-model="state.record.notes" placeholder="Notes")
      div(flex-gt-md=75 layout="column")
        table.table.table-striped.table-bordered
          thead
            tr
              th Slug
              th Date
              th Format
              th Runtime
              th
          tbody
            tr(ng-repeat="story in state.record.stories")
              td(ng-if="!state.isEditing(story)")
                | {{ story.slug }}
              td(ng-if="state.isEditing(story)")
                md-input-container
                  label Slug
                  input(ng-model="story.slug" set-focus="state.isEditing(story)")
              td(ng-if="!state.isEditing(story)")
                | {{ story.date | date:'fullDate' }}
              td(ng-if="state.isEditing(story)")
                md-input-container
                  label Story date
                  input(type="date" ng-model="story.date")
              td(ng-if="!state.isEditing(story)")
                | {{ story.format || "Unknown" }}
              td(ng-if="state.isEditing(story)")
                md-input-container
                  label Format
                  input(ng-model="story.format")
              td(ng-if="!state.isEditing(story)")
                | {{ story.runtime || "Unknown" }}
              td(ng-if="state.isEditing(story)")
                md-input-container
                  label Runtime
                  input(ng-model="story.runtime")
              td(ng-if="state.isEditing(story)")
                md-button(ng-if="story.slug != ''" ng-click="state.toggleEditing(story)")
                  md-icon save 
                md-button.md-warn(ng-if="story.slug == ''" ng-click="state.removeStory(story)")
                  md-icon delete 
              td(ng-if="!state.isEditing(story)")
                md-button(ng-click="state.toggleEditing(story)")
                  md-icon edit 
            tfoot
              td(colspan="4")
              td
                md-button(set-focus="state.savedLast" ng-click="state.addStory()")
                  md-icon add
        .recordImage(ng-repeat="image in state.record.images" flex)
          img.img-responsive.img-rounded.center-block(
            ng-src="/images/{{ image.path }}"
          )
          .deleteImageWrapper
            md-button(ng-click="state.removeImage(image)") Delete
