div(
  layout="row" layout-align="space-between end"
  ng-if="!state.editing"
)
  h2 {{ state.record.label }}
  div {{ state.record.family }}
  div {{ state.record.medium }}
  md-chips
    md-chip {{ state.record.stories.length }} {{ state.record.stories.length == 1 ? 'Story' : 'Stories' }}
form(name="recordEditor" ng-if="state.editing")
  div(layout="row" layout-align="space-between end")
    md-input-container(style = "width: 20em;")
      label Label
      input(type="text" ng-model="state.record.label" placeholder="Tape Label")
    md-input-container(style = "width: 20em;")
      label Family
      input(type="text" ng-model="state.record.family" placeholder="Tape Family")
    md-input-container(style = "width: 10em;")
      label Medium
      md-select(ng-model="state.record.medium")
        md-option(value="1\" Tape") 1" Tape
        md-option(value="3/4\" Tape") 3/4" Tape
        md-option(value="Film") Film
    md-button(ng-click="state.doneEditing()") Save
        
