$grey_200: #eee;
$grey_400: #ddd;
$grey_138: rgb(138, 138, 138);
$grey_33: rgb(33, 33, 33);

table.mtna-table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  width: 100%;

  th {
    color: $grey_138;
    font-size: 12px;
    height: 56px;
    text-align: left;
  }

  td {
    color: $grey_33;
    font-size: 13px;
  }

  th,
  td {
    padding: 0;

  }

  tbody {
    td {
      padding: 24px;
    }

    tr:hover {
      background-color: $grey_200;
    }
  }

  tr {
    border-bottom: 1px solid $grey_400;
  }
}
