$white: #fff;
$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;

  > md-card {
    margin-left: auto;
    margin-right: auto;
  }
}

md-toolbar {
  .md-button {
    border-radius: 99%; // round toolbar buttons
    width: 36px; // use ng-material variables?
    min-width: 36px;
  }

  .md-toolbar-tools-bottom {
    font-size: small;

    & :last-child {
      opacity: .8;
    }
  }

  input.search {
    color: $white;
  }
}
