md-toolbar(md-scroll-shrink)
  .md-toolbar-tools
    h1 MT News Archive
md-progress-linear(md-mode="{{ state.saving ? 'indeterminate' : null")
section.md-whiteframe-z1
  md-content
    md-list
      md-list-item(ng-repeat="item in state.records track by item.id")
        record-viewer(
          ng-dblclick="state.edit(item)"
          record="item"
          editing="item == state.editing"
          done-editing="state.edit(null)"
        )
        md-divider
      md-list-item
        h3
          md-button(ng-click="state.addTape()") New Tape
