md-toolbar(ng-show="!state.searching" ng-click="state.searching = !state.searching")
  .md-toolbar-tools
    h1 MT News Archive
    span(flex)
    a(href="http://mtnewsarchive.net/docs/" target="blank") 
      md-icon help
    md-button(aria-label="search")
      md-icon search
md-toolbar.md-hue-2(ng-show="state.searching")
  form(ng-submit="state.search()")
    .md-toolbar-tools
      md-button(ng-click="state.searching = !state.searching" aria-label="Back")
        md-icon arrow_back
      h1(flex="10") Back
      md-input-container(flex)
        label Search
        input.search(ng-model="state.searchString")
      md-input-container
        label After
        input(ng-model="state.after" type="date" ng-keypress="($event.which === 13)?state.search():0")
      md-input-container
        label Before
        input(ng-model="state.before" type="date" ng-keypress="($event.which === 13)?state.search():0")
      md-button(aria-label="search" ng-click="state.search()")
        md-icon search
