md-dialog.incoming-dialog(flex="50")
  md-toolbar
    h3 Associate film
  md-dialog-content.md-dialog-content
    md-list
      md-list-item
        p Select all
        md-checkbox(ng-model="state.isAllSelected"
                    ng-change="state.selectAll()")
      md-divider
      md-list-item(ng-repeat="video in state.videos")
        p {{ video.name }}
        md-checkbox(ng-model="video.selected")
  md-dialog-actions
    md-button(ng-click="state.cancel()") Cancel
    md-button.md-primary(ng-click="state.associateSelection()") Associate
