doctype html
html(lang="en", ng-app="mtna")
  head
    title Montana News Archive
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc1/angular-material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/styles.css")
  body
    archive

    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-aria.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-messages.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-resource.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc1/angular-material.min.js")
    
    script(src="/templates.js")
    script(src="/bundle.js")
